@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Inconsolata:wght@700&family=Readex+Pro&family=Roboto+Mono:wght@200&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
   justify-content: space-between;
}
.header-div {
    align-self: center;
}
a {
    margin: 1vh;
    font-size: larger;
    text-decoration: none;
    color: #0dbfe9;
    align-self: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.blog-title{
        width: 95%;
        text-align: center;
        font-size: 2rem;
}

.container {
    display: grid;
    margin: 10vh 15vw;
    padding: 5vh;
}

.blog-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

