* {
	font-family: "Audiowide", sans-serif;
}

body {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/login.jpg");
	background-size: cover;
	height: 97.8vh;
	background-repeat: no-repeat;
	display: grid;
	justify-content: center;
	align-items: center;
}

.container {
	width: 30vw;
	height: max-content;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
	border-radius: 1vh;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container-header {
	padding: 1vh 2vw;
	background-color: rgba(0, 0, 0, 0.1);
}

.form {
	width: 30vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	background: white;
}

.form-input {
	width: 25vw;
	margin: 2vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5vh;
}

.form-input input {
	font-family: san-serif;
	font-size: 20px;
	width: 25vw;
	height: 5vh;
	box-shadow: 0 0 5px rgb(0 0 200/ 30%);
	border: 1px solid gray;
}

.form-input em {
	font-family: sans-serif;
	font-size: 14px;
	color: red;
}

.form-input textarea {
	font-family: san-serif;
	font-size: 20px;
}

.form-input input[type="submit"], button {
	font-family: "Audiowide", sans-serif;
	justify-self: center;
	padding: 1vh;
	margin: 1vh;
	background: rgb(0 0 0/ 15%);
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: Large;
}

.form-input button a {
	text-decoration: none;
	color: black;
}

.form-input label>sup {
	color: red;
}

@media only screen and (max-device-width: 480px){
	body{
		background-size: cover;
		background-position: bottom;
	}
	.container {
		width: 80vw;
		height: auto;
		font-size: 30px;
		
	}
	
	.form {
		width: 80vw;
		font-size: 34px;
	}
	.form-input {
		width: 80vw;
	}
	.form-input em {
		font-size: 24px;
	}
	.form-input input {
		font-size: 40px;
		width: 75vw;
	}
	.signup-link{
		margin: 1vh 1vh;
	}

	.form-input input[type="submit"], button {
		font-size: 40px;
	}
	
}