<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <a th:href="@{/}"><h3>My Blog Application</h3></a>
      <div class="header-div">
        <input
          type="text"
          id="search"
          placeholder="Search"
          onkeydown="searchPost()"
        />
        <a sec:authorize="hasAnyAuthority('Admin','Author')" href="/post/create">Create a Post</a>

      
          <a sec:authorize="isAnonymous()" href="/login">Login</a>
        
       
          <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
      
      </div>
    </header>
    <div class="nav-bar">
      <h3  sec:authorize="isAuthenticated()" th:inline="text">Welcome ! [[${user.getName()}]]</h3>
      
      <div id="sortDropdown" class="dropdown-content">
        <select name="sort" id="sort" onclick="sortingPost(this)">
          <option value="" disabled selected>Sort</option>
          <option id="sortByDesc" value="desc">Newest first</option>
          <option id="sortByAsc" value="asc">Oldest first</option>
        </select>
      </div>
    </div>
    <h3>Current search result:&nbsp;<em th:text="${totalResultCount}"></em></h3>
    <div>
      <aside class="filter-section">
        <div class="post-filter-title">
          <strong class="aside-title">Filter</strong>
        </div>
        <div class="post-filter-tag">
          <checkbox-group th:each="author : ${authors}">
            <input
              type="checkbox"
              th:id="${author.name}"
              th:name="${author.name}"
              th:value="${author.id}"
              th:checked="${authorIdsSet.contains(author.id)? true : false}"
              onclick="filterPostByAuthor(this)"
            />
            <label th:for="${author.name}">[[${author.name}]]</label><br />
          </checkbox-group>
        </div>
        <div class="post-filter-title">
          <strong class="aside-title">Tags</strong>
        </div>
        <div class="post-filter-tag">
          <checkbox-group th:each="tag : ${tags}">
            <input
              type="checkbox"
              th:id="${tag.tagName}"
              th:name="${tag.tagName}"
              th:value="${tag.tagId}"
              th:checked="${tagIdsSet.contains(tag.tagId)? true : false}"
              onclick="filterPostByTag(this)"
            />
            <label th:for="${tag.tagName}" th:inline="text"
              >[[${tag.tagName}]]</label
            ><br />
          </checkbox-group>
        </div>
        <div class="post-filter-title">
          <strong class="aside-title">Published Date</strong>
        </div>
        <div class="post-filter-tag">
          <span>Choose start date</span>
          <input
            class="input-date"
            type="date"
            id="startDate"
            min="2021-12-24"
            value="${startDate}"
          /><br />
          <span>Choose end date</span>
          <input
            class="input-date"
            type="date"
            id="endDate"
            min="2021-12-24"
            value="${endDate}"
          />
          <br />
          <button class="button-date" onclick="selectPublishedDate()">
            Filter
          </button>
        </div>
      </aside>
    </div>
    <div class="container" th:if="${postTagMap != null}">
      <div th:each="post : ${postTagMap.keySet()}">
        <div class="blog-box">
          <div
            class="blog-box-header"
            th:onclick="'location.href= \''+ @{/post/{id}(id=${post.getId()})}+'\''"
          >
            <h2 th:text="${post.getTitle()}">Blog Title</h2>
            <p th:inline="text">
              Author: <span>[[${post.getAuthor().getName()}]]</span>
            </p>
            <p th:inline="text">
              Published on: <span>[[${post.getPublishedAt()}]]</span>
            </p>
          </div>
          <div class="post-tag">
            <p>
              Tags:&nbsp;
              <span
                th:each="tag : ${postTagMap.get(post)}"
                th:if="${tag != ''}"
                th:inline="text"
              >
                [[${tag}]]&nbsp;&nbsp;
              </span>
            </p>
          </div>
          <div class="blog-box-content">
            <p th:text="${post.getExcerpt()}"></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <button id="prev-btn" onclick="prevPage(this)">&#8678; Prev</button>
      <span id="curr-page" th:text="${currentPage}"></span>
      <button id="next-btn" onclick="nextPage(this)">&#8680; Next</button>
    </footer>
    <script th:src="@{/JS/index.js}"></script>
  </body>
</html>
