<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Contact us</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="./css/signup.css">
</head>
<body>
	<div class="container">
		<div class="container-header">
			<h1>Create new account</h1>
			<p>Please fill this form in a decent manner</p>
		</div>

		<div class="form">
			<form  action="#" th:action="@{/signup}"  method="post">
				<div class="form-input">
					<label for="name" class="form-label">Full Name<sup>*</sup></label>
					<input type="text" name="name"  required />
				</div>
				<div class="form-input">
					<label for="email" class="form-label">E-mail<sup>*</sup></label> 
					<input type="email" name="email"  required /> <em>Please enter
						working email id</em>
				</div>
				<div class="form-input">
					<label for="message" class="form-label">Password<sup>*</sup></label>
					<input type="password" name="password" id="password"  required /> <em>Please enter
						your password</em>
				</div>
                <div class="form-input">
					<label for="message" class="form-label">Confirm Password<sup>*</sup></label>
					<input type="password" name="confirmPassword" id="confirmPassword"  required /> <em>Please re-enter
						your password</em>
				</div>
				<div class="form-input">
					<input type="submit" name="SUBMIT" value="Create Account" />
					<button>
						<a href="/login">login</a>
					</button>
				</div>
				<input 
					type="hidden"
					th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}"/>		

			</form>
		</div>
	</div>
	<script th:src="@{/JS/signup.js}"></script>
</body>
</html>
